@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a; /* optional: readable default */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ⬅️ use Manrope as the sans font via next/font variable */
  --font-sans: var(--font-manrope);

  /* custom letter-spacing token */
  --tracking-hero: -1.44px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);

}

button{
  cursor: pointer;
}